.homePagewrapper{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  color: #fff;
}

.formwrapper{
  background-color: #282a28;
  padding: 20px;
  border-radius:10px;
  width:400px;
  max-width:90%;
}

footer{
  position:fixed;
  bottom:0;
}
/* footer a:hover{
  color:#1aee88;
  background-color:#1aee88;
  border-color:#368654;
} */

.inputGroup{
  display:flex;
  flex-direction:column;
}

.mainLabel{
  margin-bottom:20px;
  margin-top:0;
}

 .homeLogo{
  height:auto;
  max-width:100px;
  display: block;
  margin: 0 auto;
} 

/* .homeLogo {
  width: 100%;
  height: 15%;
} */


.inputBox{
  padding: 10px;
  border-radius:5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background:#eee;
  font-size:10px;
  font-weight:bold;
}

.btn{
  border:none;
  padding: 10px;
  border-radius:5px;
  font-size:16px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background-color: #1aee88;
  width:100px;
  margin-left:auto;
}

.joinBtn:Hover{
  background: #2b824c;
}

.createInfo{
  margin: 0 auto ;
  margin-top:20px;
}

.createNewBtn{
  color:#1aee88;
  text-decoration: none;
  border-bottom: 1px solid #1aee88;
  transition:all 0.3s ease-in-out ;
}

.createNewBtn:hover,footer a:hover{
  color:#1aee88;
  background: #368654;
  border-color:#368654;
}

